DirectoryIndex index.html index.php

AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS|HEAD)
RewriteRule .* - [F]

# autoslashes
RewriteCond %{REQUEST_URI} (.*/[^/.]+)($|\?)
RewriteRule .* %1/ [R,L,QSA]

# allowed
RewriteCond %{REQUEST_URI} ^/(js|img|css|(apc|img|locale|auth)\.php)/$
RewriteRule . - [L]

# blocked
RewriteCond %{REQUEST_URI} ^/(libs|views|models|classes|log)/$
RewriteRule . - [F]

# dispatch
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L,QSA]

# PHP Options
php_value default_charset utf-8
php_value error_log /var/www/sohrani/var/log/php_error.log
php_value log_errors On
php_value log_errors_max_len 10240
php_value error_reporting 2047
php_value display_errors 1
