/**
 * =====================================================================================================================
 * Base styles
 */

html, body {
	font-family: Verdana;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
body {
    padding-top: 30px;
}
.container-fluid {
    padding-top: 15px;
}
a {
	color: #696969;
}
a:hover {
	color: #333333;
}

/**
 * =====================================================================================================================
 * Form styles
 */
label.atop {
	display: block;
	height: 0px;
	left: 0.3em;
	position: relative;
	top: 0.3em;
	width: 0px;
}

/**
 * =====================================================================================================================
 * Styles for Link Card
 */
#linkCardBlank {
	display: none;
}